@import "bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

html {
  overflow-y: auto;
}

p {
  margin: $block-spacing 0;
}

#app {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-sticky {
  @media screen and (min-width: $desktop) {
    position: sticky;
    top: $block-spacing;
    height: 100%;
  }
}

.unstyled {
  font-size: inherit;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

@mixin fa-icon() {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  &:hover,
  &:focus-within {
    opacity: 0.7 !important;
  }
  &:active {
    opacity: 0.5 !important;
  }
}

.fa-button {
  @include fa-icon;
}

.spaced {
  padding: $block-spacing 0;
}

.header-with-aside {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    flex: 1 0 auto;
  }
}

.unstyled {
  font-size: inherit;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

@mixin fa-icon() {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  &:hover,
  &:focus-within {
    opacity: 0.7 !important;
  }
  &:active {
    opacity: 0.5 !important;
  }
}

.fa-button {
  @include fa-icon;
}

.spaced {
  padding: $block-spacing 0;
}

.header-with-aside {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    flex: 1 0 auto;
  }
}